.vscode/**
.vscode-test/**
out/**
src/**
round-lsp/**
test/**
tsconfig.json
jsconfig.json
.eslintrc.json
.vscodeignore
vsc-extension-quickstart.md
esbuild.js
syntaxes/Readme.md
cgmanifest.json
node_modules/**
**/*.map
